@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>
        Welcome
        <br />to
    </h3>
    <h1 class="display-4">Corey's Knick Knacks</h1>
    <h3>Online Store</h3>
</div>